* {
    text-decoration: none;
    margin:0;
    padding:0;
    border: none;
}
/* FOR MOBILE AND TABLETS */
@media (max-width:800px){
    body {
        height: 100vh;
        background-color: #28b5e4;
        background-image:url(img/back.png);
        background-size:35vw;
    
    }
    .divh{
        position:absolute;
        width: 100vw;
        margin-top: 20vh;
        text-align: center;
        font: 2em Arial;
        font-weight: bold;
        color:#F7F0F0;
        animation: Animation1 .75s ease-in 0s infinite alternate;
    }
    @keyframes Animation1 {
        from{
            color:#CC2936;
        }
        to{
            color:#462255;
        }
    }
    
    .main{
        margin-top: 35vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .play {
        background-color:#323031;
        border-radius: 30%;
        height: 35vw;
        width: 40vw;
        color: #F7F0F0;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 1.5em Arial;
        box-shadow: 0 0 1vh #F7F0F0;
        text-align: center;
    }
    
    .play:hover {
        transition: all .15s ease-in;
        box-shadow: 0 0 2vh #F7F0F0,0 0 5vh #F7F0F0,0 0 15vh #F7F0F0;
    }
    .play:active{
        transition: all .15s ease-in;
        height: 28vh;
        width: 38vw;
    }
}
/* FOR DESKTOPS */
@media (min-width:800px){
    body {
        height: 100vh;
        background-color: #28b5e4;
        background-image:url(img/back.png);
        background-size:40vh;
    }
    .divh{
        position:absolute;
        width: 100vw;
        margin-top: 22vh;
        text-align: center;
        font: 2em Arial;
        font-weight:bold;
        color: #F7F0F0;
        animation: Animation1 .75s ease-in 0s infinite alternate;
    }
    @keyframes Animation1 {
        from{
            color:#CC2936;
        }
        to{
            color:#462255;
        }
    }
    
    .main{
        margin-top: 35vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .play {
        background-color:#323031;
        border-radius: 30%;
        height: 30vh;
        width: 42vh;
        color: #F7F0F0;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 1.5em Arial;
        box-shadow: 0 0 1vh #F7F0F0;
        text-align: center;
    }
    
    .play:hover {
        transition: all .15s ease-in;
        box-shadow: 0 0 2vh #F7F0F0,0 0 5vh #F7F0F0,0 0 15vh #F7F0F0;
    }
    .play:active{
        height: 28vh;
        width: 40vh;
        transition: all .15s ease-in;
    }    
}
